

@media (max-width: 991px) {
   
    header .navbar{
        width:100%;
        padding: 0 30px;
    }

    header .navbar .logo a{
        font-size: 22px;
    }

    header .navbar .navbar-links  .links li{
        padding: 0 10px;
    }

    header .navbar .navbar-links{
        display: block;
        position: fixed;
        top:0;
        left: -100%;
        background: #1565ca;
        max-width: 270px;
        width: 100%;
        padding: 20px;
        line-height: 40px;
        transition: all 0.5s ease;
    }

    header .navbar .logo a{
        display: none;
    }
    header .navbar .logo i{
        display: block;
        cursor: pointer;

    }
    header .navbar .navbar-links .sidebar-logo{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    header .navbar .navbar-links .sidebar-logo a{
        font-size: 24px;
        font-weight: bold;
        color: #fff;
    }

    header .navbar .navbar-links .sidebar-logo i{
        font-size: 24px;
        color: #fff;
        cursor: pointer;
        padding: 5px;
    }

    header .navbar .navbar-links .links{
        display: block;
        margin-top: 20px;
    }
    
    header .navbar .navbar-links  .links li{
        display: block;
        line-height: 40px;
    }
    
    header .navbar .navbar-links  .links li i.fa-chevron-down{
        line-height: 40px;

    }

    header .navbar .navbar-links  .links .sub-menu{
        display: none;
        position: relative;
        top: 0;
        left: 0;
        box-shadow: none;
    }
    header .navbar .navbar-links  .links .sub-menu li{
        border: none;
    }

    header .navbar .navbar-links  .links .sub-menu li.more-submenu {
        position: relative;
    }

    header .navbar .navbar-links  .links .sub-menu li.more-submenu .more-sub-menu{
        display: none;
        position: relative;
        left: 0;
        top: 0;
    }

    header .navbar .navbar-links  .links li:hover .sub-menu{
        display: none;
    }

    header .navbar .navbar-links  .links li:hover .sub-menu,
    header .navbar .navbar-links  .links .sub-menu .more-submenu:hover .more-sub-menu{
        display: none;
    }

    header .navbar .navbar-links  .links li  i.fa-chevron-down,
    header .navbar .navbar-links  .links li:hover  i.fa-chevron-down{
        transform: rotate(0deg);
    }   

    header .navbar .navbar-links  .links .sub-menu li  i.fa-chevron-down{
        transform: rotate(-90deg);
    }

  

    header .navbar .navbar-links  .links li.active .sub-menu{
        display: block;
    }

    header .navbar .navbar-links  .links li.active > i{
        transform: rotate(-180deg);
    }
    header .navbar .navbar-links  .links li.active:hover > i{
        transform: rotate(-180deg);
    }

    header .navbar .navbar-links .links .sub-menu li .more-sub-menu{
        display: none;
    }
    header .navbar .navbar-links .links .sub-menu li i{
        transform: rotate(-90deg);
    }
    header .navbar .navbar-links  .links li.active .sub-menu li.show-menu .more-sub-menu{
        display: block;
    }

    header .navbar .navbar-links  .links .sub-menu li.show-menu  i.fa-chevron-down{
        transform: rotate(0deg);
    }




}


@media (max-width: 370px){
    header .navbar .navbar-links{
        max-width: 100%;
    }
}